@model Student

<h2>Student Form Submitted</h2>

<p><b>Fullname:</b> @Model.Fullname</p>
<p><b>Email:</b> @Model.Email</p>
<p><b>Address:</b> @Model.Address</p>
<p><b>Phone:</b> @Model.Phone</p>

<p style="color:green;">@ViewBag.Message</p>